/*-- scss:defaults --*/

// Custom colours and variables
$jet: #131516;
$right-arrow: "\2192"; // Unicode character for right arrow
$whitecircle: "\25cb"; // Unicode character for right arrow
$ubdblue: #325494;
$ubdteal: #58DDB3;
$ubdyellow: #F5C946;
$ubdred: #b10f2e;
$ubdblack: #230C0F;
$ubdgray: #999;
$white: #fff;
$plsgreen: #009736;
$plsred: #EE2A35;
$mygray: #E6E6E6;


.ubdblue {
  color: $ubdblue;
}

.ubdteal {
  color: $ubdteal;
}

.ubdyellow {
  color: $ubdyellow;
}

.ubdred {
  color: $ubdred;
}

.ubdgray {
  color: $ubdgray;
}

.plsgreen {
  color: $plsgreen;
}

.mygray {
  color: $mygray;
}


.bg-ubdblue {
  background-color: $ubdblue;
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

.bg-ubdred {
  background-color: $ubdred;
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

.bg-ubdyellow {
  background-color: $ubdyellow;
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

.bg-ubdteal {
  background-color: $ubdteal;
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i);

$font-family-sans-serif: "Lato", sans-serif !default;
$presentation-font-size-root: 36px;

$presentation-heading-font: "Lato", sans-serif !default;
$presentation-heading-color: $ubdblack !default;
$presentation-heading-font-weight: 150;
//$presentation-heading-line-height: 2;
//$presentation-block-margin: 28px;

// colors
//$body-bg: #f0f1eb !default;
$body-color: $jet !default;
$link-color: $ubdblue !default;
$selection-bg: $ubdblue !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.5em;
  font-size: 1em;
}

.reveal p {
  font-weight: 350;
  margin-top: 1em;
  font-size: 0.9em;
  //margin-bottom: 0px;
}

// title and headings

#title-slide {
  text-align: left;

  .title {
    color: $body-color;
    font-size: 1.3em;
    font-weight: 370;
    font-style: bold;
  }

  .subtitle {
    color: $ubdblue;
    font-size: 1em;
    font-style: italic;
    margin-top: 0em;
  }
  
  .date{
    color: $ubdblue;
    font-size: 0.5em;
    font-style: italic;
    margin-top: 3em;
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email{
    //font-style: italic;
    font-size: 55%;
    margin-top: 0em;
    color: $ubdgray;
  }

  .author,
  .quarto-title-author-name {
    font-size: 60%;
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    //flex-direction: column;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 60%;
    }
    
  }
  
}


.reveal h1 {
  font-weight: 300;
}

.reveal h2 {
  font-weight: 400;
  font-size: 1.4em;
}

.reveal h3 {
  color: $ubdblue;
  font-style: italic;
  font-weight: 350;
  font-size: 0.95em;
}

.reveal h4 {
  color: $ubdgray;
  font-weight: 350;
  margin-top: 1em;
}

// alerts etc.

.alert {
  color: $ubdred;
}

.fg {
  color: var(--col, $ubdblack);
}

.bg {
  background-color: var(--col, #fff);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

// lists

// Unordered lists

.reveal ul {
  font-weight: 300;
  padding-left: 16px;
  font-size: 0.9em;

  li::marker {
    color: mix($ubdblue, white, 70%);
  }
}

.reveal ul ul {
  list-style: none;
  font-size: 0.8em;

  li:before {
    content: $whitecircle;
    color: mix($ubdblue, white, 60%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5em;
  }
}

// Ordered lists

.reveal ol {
  font-weight: 300;
  padding-left: 16px;
  font-size: 0.9em;

  li::marker {
    color: $ubdblue;
  }
}

.reveal ol ol {
  font-size: 0.8em;
}

// Move "hamburger" menu button to top right

.reveal .slide-menu-button {
  position: fixed;
  top: 6px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-menu-button > * {
  pointer-events: auto;
}

// Same for chalkboard buttons (with an offset)

.reveal .slide-chalkboard-buttons {
  position: fixed;
  top: 12px;
  right: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-chalkboard-buttons > * {
  pointer-events: auto;
}

// Beamer-style button link environment

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: $ubdblue;
  border: 1px solid $ubdblue;
  color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button::before {
  content: "▶";
  margin-right: 5px;
}

// Special catch for etable environment to ensure these table images
// don't overflow the slide.
// See: https://lrberge.github.io/fixest/articles/etable_new_features.html

.etable {
  width: 100%;
  height: calc(100% - 3em); /* Adjust 3em based on the height of your header, if necessary */
  display: flex;
  align-items: center;
  justify-content: center;
}

.etable img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}


// UBD Logo
.reveal .slide-logo {
  display: block;
  position: fixed;
  z-index: 0;
  top: unset !important;
  left: unset !important;
  bottom: 10px !important;
  right: 10px;
  max-height: 2.5%;
  min-height: 2.5%;
}


// Slide numbers

.slide-number, .reveal.has-logo .slide-number {
  top: unset !important;
  right: unset !important;
  bottom: 10px !important;
  left: 10px !important;
  color: #999 !important;
}

// Hide logo and slide number on the title slide
.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

// Format for inline code and chunks

.reveal .slides code{
  font-size: 0.9em;
  color: $ubdblack;
  background-color: mix($ubdgray, white, 40%);
  padding: 0.05em;
  border-radius: 5px;  
}

.reveal .slides code.sourceCode {
  font-size: 1.2em;
}

// Progress bar

.reveal .progress {
  background: $ubdblue;
  color: $ubdteal;
  height: 1.5%;
}

// Convenient transition slides

.reveal .transition-slide {
  background-color: $ubdblue;
}

.reveal .transition-slide-ubdyellow {
  background-color: $ubdyellow;
}

.reveal .transition-slide-ubdteal {
  background-color: $ubdteal;
}

.reveal .transition-slide-ubdgray {
  background-color: $ubdgray;
}

.reveal .transition-slide-plsgreen {
  background-color: $plsgreen;
}

.reveal .transition-slide-mygray {
  background-color: $mygray;
}


// Make math fonts smaller

span.math.inline, span.math.display {
    font-size: 0.9em;  
}

img.caption {
    font-size: 10px; /* Adjust the font size as needed */
}
